#a9f9b9 {
    color: black;
}

.st-emotion-cache-1629p8f.e1nzilvr2 {
    background-color: #c4c4c4;
}

.appview-container st-emotion-cache-1wrcr25 ea3mdgi9 {
    background-color: beige;
}
