#a9f9b9 {
    color: aliceblue;
}

.st-emotion-cache-1629p8f.e1nzilvr2 {
    background-color: #00401a;
}

.appview-container st-emotion-cache-1wrcr25 ea3mdgi9 {
    background-color: beige;
}